.options-container {
    display: flex;
    justify-content: center;

}

.btn {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
}

.scores-container {
    display:flex;
    justify-content: space-evenly;
}

.player, .computer {
    display:flex;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#reset {
    visibility: hidden;
}

/* .player p {
    text-align: center;
    border: 1px solid #FFF111;
    width: 100px;
    height: 100px;
} */
.btn img {
    width: 75px;
    height: 75px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .5s ease;
}

.btn img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: .5s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.results-container {
    display:flex;
    justify-content: center;
    text-align: center;
}

/* .item button{
    display: flex;
    justify-content: space-evenly;
} */

